.weather-icon {
  position: relative;
  width: 200px;
  height: 200px;
}

.cloud {
  position: absolute;
  width: 200px;
  height: 90px;
  /* background: #fff; */
  border-radius: 50px;
  box-shadow: -30px 0 30px 30px rgba(255, 255, 255, 0.5);
  z-index: 1;
}

.cloud::before,
.cloud::after {
  content: "";
  position: absolute;
  background: #fff;
  border-radius: 50%;
}

.cloud::before {
  width: 80px;
  height: 80px;
  top: -30px;
  left: 10px;
  box-shadow: -20px 0 20px 20px rgba(255, 255, 255, 0.5);
}

.cloud::after {
  width: 100px;
  height: 100px;
  top: -50px;
  left: 70px;
  box-shadow: -20px 0 20px 20px rgba(255, 255, 255, 0.5);
}

.sun {
  position: absolute;
  width: 100px;
  height: 100px;
  background: yellow;
  border-radius: 50%;
  bottom: 150px;
  right: 0;
  box-shadow: 0 0 30px 30px rgba(255, 255, 0, 0.3);
}
